<a href="https://colab.research.google.com/github/manoghnagobbilla24/SRU_BATCHDS03-4/blob/main/list1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
my_list=[1,2,"hello",True]
print(my_list[0])
my_list[2]="world"
print(my_list)
my_list.append(5)
print(my_list)

1
[1, 2, 'world', True]
[1, 2, 'world', True, 5]

In [5]:
my_dict={"name":"Alice","age":30,"city":"Newyork","occupation":"Teacher"}
print(my_dict["name"])
my_dict["occupation"]="Engineer"
print(my_dict)

Alice
{'name': 'Alice', 'age': 30, 'city': 'Newyork', 'occupation': 'Teacher', 'occpation': 'Engineer'}

In [6]:
 import pandas as pd

data = {
    "name": ["Alice", "Bob", "Charlie"],
    "age": [25, 24, 35],
    "City": ["New York", "London", "Australia"]
}

df = pd.DataFrame(data)
print(df)

      name  age       City
0    Alice   25   New York
1      Bob   24     London
2  Charlie   35  Australia